---
import Layout from '~/layouts/PageLayout.astro';
import membersData from '../../data/team.json';

export async function getStaticPaths() {
  return membersData.members.map((member) => ({
    params: { hash: member.hash },
  }));
}

export async function get({ params }) {
  const member = membersData.members.find((m) => m.hash === params.hash);
  if (!member) {
    return {
      notFound: true,
    };
  }
  return {
    props: { member },
  };
}

const { member } = Astro.props;
const metadata = {
  title: member ? member.name : 'Member not found',
};
---

<Layout metadata={metadata}>
  <main class="container max-w-3xl mx-auto">
    <article class="py-6">
      {member ? (
        <>
          <h1 class="mb-2 text-3xl text-slate-800">{member.name}</h1>
          <img class="object-cover w-full h-48" src={member.avatar} alt={member.name} />
          <div class="p-4">
            <p class="text-xs text-gray-600">{member.position}</p>
            {member.linkedin && (
              <a class="text-sm text-blue-500 hover:underline" href={member.linkedin}>
                LinkedIn
              </a>
            )}
          </div>
        </>
      ) : (
        <p class="text-xl text-red-500">Member not found</p>
      )}
    </article>
  </main>
</Layout>
