---
import Layout from '~/layouts/PageLayout.astro';

import membersData from '../data/team.json';
const metadata = {
  title: 'Services',
};

// Group members by position
const groupedMembers = membersData.members.reduce((acc, member) => {
  const position = member.position.startsWith('Business') ? 'Business' : member.position;
  if (!acc[position]) {
    acc[position] = [];
  }
  acc[position].push(member);
  return acc;
}, {});
---

<Layout metadata={metadata}>
  <main class="container max-w-3xl mx-auto">
    <article class="py-6">
      <h1 class="mb-2 text-3xl">Team</h1>
      {
        Object.keys(groupedMembers).map((position) => (
          <section class="mb-6">
            <h2 class="mb-4 text-xl">{position}</h2>
            <ul class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
              {groupedMembers[position].map((member) => (
                <li class="overflow-hidden bg-white rounded-sm shadow-md dark:bg-slate-900 dark:text-slate-300">
                  <img class="object-cover w-full h-48" src={member.avatar} alt={member.name} />
                  <div class="p-4">
                    <h3 class="text-xl font-semibold">{member.name}</h3>
                    <p class="text-xs text-gray-600 dark:text-slate-500">{member.position}</p>
                  </div>
                </li>
              ))}
            </ul>
          </section>
        ))
      }
    </article>
  </main>
</Layout>
